@import '../../assets/scss/variables';
footer{
    margin-top: -34px;
    padding: 80px 64px;
    background: $secondary_color;
    .fooh4{
        font-size: 14px;
        color: $light-yellow;
        font-family: plus jakarta sans;
        margin-bottom: 4px;
    }  
    .foodesc{
        color: $light-yellow;
        font-family: PlusJakartaSans-Regular;
 
    }
    .footop{
        justify-content: space-between;
        .left-address{
            .foodesc{
                a{
                    text-decoration: underline;
                    margin-bottom: 5px;
                  
                }
            }
            a{
                display: block;
                margin-bottom: 32px;
            }
            .sociallink {
                margin-top: 26px;
                display: flex;
                align-items: center;
                a{
                    img{
                        margin-right: 16px;
                    } 
                }
            } 
        }
        .right-link{
            display: flex;
            ul{
                margin-right: 100px;
                &:last-child{
                    margin: 0;
                }
                li{
                    margin-bottom: 12px;
                    a{
                        color: $light-yellow;
                        font-size: 18px;
                        font-family: PlusJakartaSans-Bold;
                    }  
                }  
            }    
        }
    }
    
    .bottomfoo {
        margin-top: 20px;
        border-top: 1px solid $bg-orange;
        padding-top: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            margin-right: 24px;
            text-decoration: underline;
        }
    }
    .mb24{
        margin-bottom: -34px;
    }
}

@media (max-width: 768px) {
    footer{
        .footop{
            .right-link{
                ul{
                    margin-right: 40px;
                }
            }
        }
    }
}
@media (max-width: 600px) {
    footer{
        padding: 50px;
        .footop{
            .right-link{
                ul{
                    margin-right: 25px;
                }
            }
        }
        .bottomfoo{
            display: block;
            margin-top: 50px;
            p{
                margin-bottom: 10px;
            }
        }
       .mfo-non{
        display: none !important;
       } 
    }
}
