<div class="about">
  <div class="">
    <div class="about-content">
      <div class="col-sm-12 col-12 mt-5">
        <h1>About St John Lettings</h1>
      </div>
      <div class="col-sm-12 col-12 mt-3 mb-2">
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <div class="mt-5">
          <button class="btn" type="submit">Find Out More</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="cta">

    <div class="row w-100">

        <div class="col-sm-6 col-12 mt-5">
      
            <h1 class="pl-4">Looking for a new place? Make an enquiry.</h1>
            <p class="pl-4">
              We have seven locations across London. Make anenquiry today with
              apartments immediately available to move into.
            </p>
            <div class="btn-item mb-3 pl-4">
              <button class="btn" type="submit">make an enquiry</button>
            </div>
          </div>
       
        <div class="col-sm-6 col-12 ">
          
            <img class="img3 w-100" src="../../assets/hero.svg" alt="" />
     
    </div>
   
  </div>
  </div>