$white: #ffffff;
$black: #000000;
$primary_color: #C29A5C;
$secondary_color: #00455A;
$dark-text: #00455A;
$light-yellow: #f9f5ef;
$font-size16: 16px;
$border-radius : 8px;
$desc-color: #F9F5EF;
$bg-orange: #C1995B;
$desc-gray: #FFF8F8;