<section class="faq-block" >

    <div class="row">
    <div class="col-sm-12 col-12"> <h1 class="">FAQs</h1></div> 
    <div class="col-sm-12 col-12"> <p class="">We have seven locations across London. Make anenquiry today with apartments immediately available to move into.</p>
    </div>  
    </div>
  
     <div class="main-row">
      <div class="tabs">
      
        <div class="tab">
          <input type="checkbox" id="chck3">
          <label class="tab-label" for="chck3">What are the partners?</label>
          <div class="tab-content">
            These are portfolios and you can find otu important information about them. Read this and enjoy. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. 
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck4">
          <label class="tab-label" for="chck4">What is everything else?</label>
          <div class="tab-content">
            These are portfolios and you can find otu important information about them. Read this and enjoy. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. Lorem ipsum sumo denta et il. 
          </div>
        </div>
      </div>
  </div>
  </section>