<div class="about" >
<div class="row align-items-center">
    <div class="about-content">

        <div class="col-sm-12 col-12 mt-3 ">

    <h1>Properties managed by us</h1>
</div>
<div class="col-sm-12 col-12 mt-3 mb-5">
    <p class="">
        We have seven locations across London, all with their personality and
        character. Together we can find the perfect home for you.
      </p>
      <div class="btn-item mt-4">
        <button class="btn" type="submit">Get started</button>
      </div>
</div>
    </div>

</div>

   
  </div>

<div class="second"></div>
<div class="third-text" >

    <div class="row align-items-center">
  <div class="col-sm-10 col-12 mt-4 ">
  
      <h2>Royal Wharf</h2>
     <p>
        Just minutes from Canary Wharf, and less than 30 minutes from Oxford Street,
        this is a rich, textured neighbourhood, focused around the lively central
        high street, a broad market square and a rolling riverside park.
      </p> 
      
   

    </div>
    <div class="col-sm-2 col-12 mb-5 ">
      <button class="btn" id="btn-second" type="submit">Get started</button>
  
 
</div>
</div>
</div>
<div class="third"></div>
<div class="third-text" >

    <div class="row align-items-center">
  <div class="col-sm-10 col-12 mt-4 ">
    

      <h2>Goodman’s Fields</h2>
     <p>
        Goodman’s Fields is a stylish, modern mixed-use central London neighbourhood
        with over 1000 residential units and a smart selection of amenities set on
        the fringes of the City of London, nearby Aldgate East station.
      </p> 
      
   

    </div>
    <div class="col-sm-2 col-12 mb-5">
      <button class="btn" id="btn-second" type="submit">Get started</button>
  
 </div>
</div>










